.list-save
	list-style none
	padding-left 2em
	li
		height 2.5em
		span
			cursor pointer
		&:hover
			background #ebecff
			& .option
				display block
		.option
			font-size 0.8em
			display none
	span
		color blue
		text-decoration underline
